* {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #3e3436;
}


/*----- Phần menu -----*/

.menu {
    margin: 0px auto;
    height: 50px;
    background-color: black
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'Ek Mukta';
}

.menu a {
    transition: all linear 0.15s;
    color: #919191;
    text-decoration: none;
}

.menu li:hover>a,
.menu .current-item>a {
    text-decoration: none;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}


/*----- css cho phần menu cha -----*/

.menu>ul>li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu>ul>li>a {
    padding: 10px 30px;
    display: inline-block;
    color: white;
}


/*----css cho menu con----*/

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: black;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

#nav-menu {
    background-color: black
}

#nav-menu a {
    color: aliceblue;
}

#nav-menu a:hover {
    color: rgba(255, 153, 0, 0.884);
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}

.panel-default {
    border-color: gainsboro
}

.panel-heading {
    border-radius: 0;
    color: #ffffff;
    background-color: #f26b38;
    border-color: #f26b38;
    height: 40px;
    line-height: 20px;
    text-align: center;
}

.panel-title {
    font-size: 16px;
    padding: 10px;
}

.list-group{
	width:100%;
}

.list-group li {
    list-style: none;
    padding: 10px;
}

#footer {
    color: grey;
    background-color: black;
}

#footer a {
    color: rgba(255, 255, 255, 0.548);
    font-size: 14px;
}

#footer a:hover {
    color: rgba(255, 153, 0, 0.884);
}