<!-- Main Header -->
<header class="main-header">

	<!-- Logo -->
	<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>B</b>TC</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>Booking</b>Ticket</span>
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						th:src="@{/dist/img/user2-160x160.jpg}" class="user-image"
						alt="User Image" /> <span class="hidden-xs" ></span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img
							th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle"
							alt="User Image" />
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Cá Nhân</a>
							</div>
							<div class="pull-right">
								<a th:href="@{/logout}" class="btn btn-default btn-flat">Đăng Xuất</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>