<footer class="page-footer">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 py-2 "
		style="border-top: 1px solid lavender">
		<p class="text-center text-muted ">
			<!-- <img src="image/galaxy-logo-footer.png " alt="Galaxy Cinema " style="width:50px "> -->
			PHÙNG THỊ MỸ NHUNG-15CNTT1
		</p>
	</div>
</footer>
