<div id="header" class="container mt-3  ">
		<div class="d-flex justify-content-between  mb-3">
			<div class="p-2 flex ">
				<a href="#"> <img th:src="@{/home/image/logo_booktk.png}" alt="" />
				</a>
			</div>
			<div class="p-2  flex ">
				<form id="search-btn" class="form-inline" action="#">
					<input type="text" style="width: 200px"
						placeholder="Tìm tên phim, diễn viên ...." />
					<button type="submit" class="search-btn">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<div class="p-2 mx-0">

				<ul class="nav">
					<li><a id="login" class="px-2 " th:href="@{/dang-nhap}"><i
							class="fas fa-user-circle "></i> Đăng nhập </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="nav-menu" class="navbar navbar-expand-sm ">
		<nav class="menu">
			<ul class="clearfix ">
				<li><a th:href="@{/rap}">RẠP CHIẾU PHIM</a></li>
				<li><a th:href="@{/mua-ve}">MUA VÉ</a></li>
				<li><a th:href="@{/phim}">PHIM <span class="arrow">&#9660;</span></a>
					<ul class="sub-menu">
						<li><a href="@{/phim/phim-dang-chieu}">PHIM ĐANG CHIẾU</a></li>
						<li><a href="@{phim/phim-sap-chieu}">PHIM SẮP CHIẾU</a></li>

					</ul></li>
				<li><a th:href="@{/goc-dien-anh}">GÓC ĐIỆN ẢNH <span class="arrow">&#9660;</span></a>
					<ul class="sub-menu">
						<li><a th:href="@{/goc-dien-anh/the-loai-phim} ">THỂ LOẠI PHIM</a></li>
						<li><a th:href="@{/goc-dien-anh/dien-vien}">DIỄN VIÊN</a></li>
						<li><a th:href="@{/goc-dien-anh/dao-dien}">ĐẠO DIỄN</a></li>
					</ul></li>
				<li><a th:href="@{/chuong-trinh-thanh-vien}">THÀNH VIÊN</a></li>
			</ul>
		</nav>
	</div>
