* {
	box-sizing: border-box;
}

input[type=text], select, textarea {
	width: 40%;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin-left: 65px;
}

input[type=date] {
	width: 40%;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin-left: 65px;
}

input[type=number] {
	width: 40%;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin-left: 65px;
}

input[type=file] {
	width: 40%;
	padding: 9px;
	border: none;
	border-radius: 4px;
	resize: vertical;
	margin-left: 65px;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	padding: 1px;
}
.form{
margin: 0 auto;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	margin-left: 65%;
}

input[type=submit]:hover {
	background-color: #80ff00;
}

.container {
	width: auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 400px;
	margin-top: -10px;
	margin-left: 20px;
}

.col-25 {
	float: left;
	width: 12%;
	margin-top: 6px;
	margin-left: 95px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.asterisk{
	color: red; 
	margin: 5px; 
	font-weight: bold;
}

.textArea{
	float: left;
    margin-top: 6px;
    border: 1px solid #ccc;
    margin-left: 65px;
}

.image{
	float: left;
    margin-top: 6px;
    width: 250px;
    height: 200px;
    border: 1px solid #ccc;
    margin-left: 65px;
}

@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}