<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Hệ thống quản lý các rạp</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
<!-- Font Awesome -->
<link rel="stylesheet"
	th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
<!-- Ionicons -->
<link rel="stylesheet"
	th:href="@{/bower_components/Ionicons/css/ionicons.min.css}" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}" />

<!-- Google Font -->
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic}" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Include Header -->
		<th:block th:replace="fragments/BigAdmin_Header"></th:block>

		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle"
							alt="User Image" />
					</div>
					<div class="pull-left info">
						<p>Alexander Pierce</p>
						<!-- Status -->
						<!--  <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
					</div>
				</div>

				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..." /> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">QUẢN LÝ</li>
					<!-- Optionally, you can add icons to the links -->
					<li class="active"><a th:href="@{/he-thong/rap}"><i
							class="fa fa-list"></i> <span>Rạp Chiếu Phim</span></a></li>
					<li class="treeview"><a href="#"><i class="fa fa-users"></i>
							<span>Người Dùng</span> 
							<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
							</span> </a>
						<ul class="treeview-menu">
							<li><a th:href="@{/he-thong/nguoi-dung}"><i
									class="fa fa-users"></i>Người Dùng</a></li>
							<li><a th:href="@{/he-thong/quan-ly-rap}"><i
									class="fa fa-user"></i>Quản Lý Rạp</a></li>
						</ul>
					</li>
					<li><a th:href="@{/he-thong/the-loai}"><i
							class="fa fa-list"></i> <span>Thể Loại</span></a></li>
					<li><a th:href="@{/he-thong/quoc-gia}"><i
							class="fa fa-list"></i> <span>Quốc Gia</span></a></li>
					<li><a th:href="@{/he-thong/phim}"><i
							class="fa fa-list"></i> <span>Phim</span></a></li>
				</ul>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Rạp chiếu phim</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/he-thong/rap}"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active"><a th:href="@{/he-thong/them-rap}">Thông tin rạp</a></li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- SELECT2 EXAMPLE -->
				<div class="box box-default">
					<div class="box-header with-border">
						<h3 class="box-title">Thêm mới rạp</h3>
					</div>
					<form role="form" th:action="@{/he-thong/luu-rap}" method="POST"
						id="formAdd" style="width: 1000px; margin-left: 130px;"
						th:object="${cinema}" enctype="multipart/form-data">
						<div class="box-body">
							<div class="form-group">
								<label>CinemaID <span class="asterisk">*</span></label> <input
									class="form-control" th:field="*{cinemaId}" type="hidden"
									id="fname" name="userID" required="required"
									placeholder="Vui lòng nhập userID" />
							</div>
							<div class="form-group">
								<label>Tên rạp phim <span class="asterisk"> *</span></label> <input
									class="form-control" type="text" id="lname"
									th:field="*{cinemaName}" required="required"
									placeholder="Vui lòng nhập tên phim" /> <em
									th:if="${#fields.hasErrors('cinemaName')}"
									th:errors="*{cinemaName}"></em>
							</div>
							<div class="form-group">
								<label>Ảnh hiển thị <span class="asterisk">*</span></label> <img
									class="image" id="img-display" /> <input class="form-control"
									type="file" style="border: none" name="imageFile"
									onchange="readURL(this);"
									accept="image/x-png,image/gif,image/jpeg" id="image"
									required="required" /> <em
									th:if="${#fields.hasErrors('cinemaImage')}"
									th:errors="*{cinemaImage}"></em>

							</div>
							<div class="form-group">
								<label>Địa Chỉ <span class="asterisk">*</span></label> <input
									class="form-control" type="text" id="cinemaAddress"
									th:field="*{cinemaAddress}" required="required"
									placeholder="Vui lòng nhập mô tả" /> <em
									th:if="${#fields.hasErrors('cinemaAddress')}"
									th:errors="*{cinemaAddress}"></em>
							</div>

							<div class="form-group">
								<label>Số Điện Thoại <span class="asterisk">*</span></label> <input
									class="form-control" type="text" id="cinemaPhone"
									th:field="*{cinemaPhone}" required="required"
									placeholder="Vui lòng nhập trailer" /> <em
									th:if="${#fields.hasErrors('cinemaPhone')}"
									th:errors="*{cinemaPhone}"></em>
							</div>

							<div class="form-group">
								<label>Google Map <span class="asterisk">*</span></label> <input
									class="form-control" type="text" id="lname"
									th:field="*{cinemaGGMap}" required="required"
									placeholder="Vui lòng nhập thời lượng" /> <em
									th:if="${#fields.hasErrors('cinemaGGMap')}"
									th:errors="*{cinemaGGMap}"></em>
							</div>

							<div class="form-group">
								<label>Mô tả <span class="asterisk">*</span></label>
								<textarea rows="4" cols="50" class="form-control"
									th:field="*{cinemaDescription}" required="required"
									placeholder="Vui lòng nhập thời lượng"></textarea>
								<em th:if="${#fields.hasErrors('cinemaDescription')}"
									th:errors="*{cinemaDescription}"></em>
							</div>

							<div class="form-group">
								<label>User</label> <select th:field="*{user}"
									class="form-control select2" style="width: 50%;">
									<option selected="selected" th:value="null">--User---</option>
									<option th:each="admin : ${adminlist}"
										th:value="${admin.userId}" th:text="${admin.userName}"></option>
								</select> 
								<em th:if="${#fields.hasErrors('user')}"
									th:errors="*{user}"></em>
							</div>

						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Thêm</button>
						</div>
					</form>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>BTC</b>
			</div>
			<strong>Copyright &copy; 2019 <a href="#">BookingTicketCinema</a>.
			</strong> Phùng Thị Mỹ Nhung - 15CNTT1.
		</footer>

		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- SlimScroll -->
	<script
		th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
	<!-- AdminLTE App -->
	<script src="@{/dist/js/adminlte.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{/dist/js/demo.js}"></script>
	<script type="text/javascript">
		function readURL(input) {
			if (input.files) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#img-display').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#image").change(function() {
			readURL(this);
		});
	</script>
	<!-- page script -->
</body>
</html>
