<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh sách phim</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/home/css/styles.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/home/fontawesome-free-5.5.0-web/css/all.css}" />
</head>

<body>
   <!-- Include Header -->
	<th:block th:replace="fragments/Header"></th:block>
		
    <div class="container">
        <div class="map-example">
            <div class="row" th:each = "cinema : ${cinemalist}">
                <div class="col-lg-6">
                	<iframe th:src = "@{${cinema.cinemaGGMap}}" width="500" height="385" frameborder="0" style="border:0" allowfullscreen="true"></iframe>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.990871680802!2d108.2375364!3d16.0526301!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ce2be163002eaac!2zS3VyYW1hIENpbmVtYSBDYWZlIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1555423984657!5m2!1svi!2s" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                </div>
                <div class="col-lg-6">
                    <div class="heading">
                        <h3>Lorem Ipsum Dolor</h3>
                        <div class="rating"><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star-o icon"></i></div>
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare leo porta cursus porttitor. Proin quis tempor lectus. Cras sodales nisi ut felis tincidunt suscipit. Nullam consectetur odio et lacus tempor vestibulum.</p>
                        <p>Aenean convallis, tortor eget vehicula vestibulum, sem nibh rutrum sem, vel sodales nisl velit eu ex. Sed hendrerit efficitur sollicitudin. Maecenas tempus augue lacus.</p>
                    </div>
                    <div class="gallery">
                        <h4>Photos</h4>
                        <div class="row">
                            <div class="col-md-4"><a href="assets/img/image2.jpg"><img class="img-fluid image" src="assets/img/image2.jpg" /></a></div>
                            <div class="col-md-4"><a href="assets/img/image3.jpg"><img class="img-fluid image" src="assets/img/image3.jpg" /></a></div>
                            <div class="col-md-4"><a href="assets/img/image4.jpg"><img class="img-fluid image" src="assets/img/image4.jpg" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include Footer -->
	<th:block th:replace="fragments/Footer"></th:block>
    <script th:src="@{https://maps.google.com/maps/api/js?key=YOUR_API_KEY}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    
</body>

</html>