<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id=":me" class="a3s aXjCH ">
		<h3
			style="font-size: 17px; font-style: italic; text-align: center; padding-top: 10px; color: #ff4500">Đây
			là email tự động. Quý khách vui lòng không trả lời email này.</h3>
		<p>
			Xin chào <strong style="color: blue" th:text="${userName}"></strong>.
		</p>
		<div
			style="color: #ffffff; font-family: Helvetica, Arial; font-size: 30px; text-align: center; font-weight: normal; padding-bottom: 10px; padding-right: 15px; padding-left: 15px; padding-top: 10px; background-color: #ff4500"
			colspan="3" align="absmiddle" width="70%">
			<!-- <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
            <img src="cid:logo.png" alt="http://memorynotfound.com" style="display: block;" />
        </td> -->
			<b>THÔNG TIN TÀI KHOẢN</b>
		</div>
		<div>
			<table align="center"
				style="background-color: #ffe4e1; font-size: 17px">
				<tbody>
					<tr>
						<td style="color: #ff4500"><strong>Username:</strong></td>
						<td style="padding-left: 100px" th:text=${userName}></td>
					</tr>
					<tr>
						<td style="color: #ff4500"><strong>Email:</strong></td>
						<td style="padding-left: 100px" th:text="${email}"></td>
					</tr>
					<tr>
						<td style="color: #ff4500"><strong>SĐT:</strong></td>
						<td style="padding-left: 100px" th:text="${phone}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p style="font-size: 17px">Chúc mừng bạn đã đăng kí thành công tại
			website.</p>
		<br>
		<p style="font-size: 17px">
			Bạn hãy vào link <a
				href="https://starlight.vn/kich-hoat-tai-khoan.html" target="_blank"
				data-saferedirecturl="https://www.google.com/url?q=https://starlight.vn/kich-hoat-tai-khoan.html&amp;source=gmail&amp;ust=1556702744789000&amp;usg=AFQjCNEDmRvfBgEbog3eyyB327M12Gc_TA">
				Kích hoạt</a> để kích hoạt tài khoản.
		</p>
		<br>
		<p style="font-size: 17px">Để đảm bảo an toàn trong quá trình sử
			dụng, vui lòng không cung cấp thông tin tài khoản cho bên thứ ba.</p>
		<div class="yj6qo"></div>
		<div class="adL">
			<br>
		</div>
	</div>
</body>
</html>