<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Trang Chủ</title>
<link rel="stylesheet" th:href="@{/home/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" />

<link rel="stylesheet"
	th:href="@{/home/fontawesome-free-5.5.0-web/css/all.css}" />
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<style>
a {
	font-weight: inherit;
	color: black;
	text-decoration: none;
}

a:hover {
	color: orangered;
	text-decoration: none;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
</style>
</head>

<body>
	<div id="header" class="container mt-3  ">
		<div class="d-flex justify-content-between  mb-3">
			<div class="p-2 flex ">
				<a href="#"> <img th:src="@{/home/image/logo_booktk.png}" alt="" />
				</a>
			</div>
			<div class="p-2  flex ">
				<form id="search-btn" class="form-inline" action="#">
					<input type="text" style="width: 200px"
						placeholder="Tìm tên phim, diễn viên ...." />
					<button type="submit" class="search-btn">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<div class="p-2 mx-0">

				<ul class="nav">
					<li><a id="login" class="px-2 " th:href="@{/dang-nhap}"><i
							class="fas fa-user-circle "></i> Đăng nhập </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="nav-menu" class="navbar navbar-expand-sm ">
		<nav class="menu">
			<ul class="clearfix ">
				<li><a th:href="@{/rap}">RẠP CHIẾU PHIM</a></li>
				<li><a th:href="@{/mua-ve}">MUA VÉ</a></li>
				<li><a th:href="@{/phim}">PHIM <span class="arrow">&#9660;</span></a>
					<ul class="sub-menu">
						<li><a href="@{/phim/phim-dang-chieu}">PHIM ĐANG CHIẾU</a></li>
						<li><a href="@{phim/phim-sap-chieu}">PHIM SẮP CHIẾU</a></li>

					</ul></li>
				<li><a th:href="@{/goc-dien-anh}">GÓC ĐIỆN ẢNH <span class="arrow">&#9660;</span></a>
					<ul class="sub-menu">
						<li><a th:href="@{/goc-dien-anh/the-loai-phim} ">THỂ LOẠI PHIM</a></li>
						<li><a th:href="@{/goc-dien-anh/dien-vien}">DIỄN VIÊN</a></li>
						<li><a th:href="@{/goc-dien-anh/dao-dien}">ĐẠO DIỄN</a></li>
					</ul></li>
				<li><a th:href="@{/chuong-trinh-thanh-vien}">THÀNH VIÊN</a></li>
			</ul>
		</nav>
	</div>

	<div id="content" class="container ">
		<div id="book-cinema" class="collapse row mt-2 ">
			<div class="col-md-4 ">
				<div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN RẠP</h4>
					</div>
					<select name="cinemaId" class="list-group ">
						<option selected="selected" th:value="null">--Vui lòng chọn rạp---</option>
						<option th:each="cinema : ${cinemalist}"
						th:value="${cinema.cinemaId}"
						th:text="${cinema.cinemaName}"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN PHIM</h4>
					</div>
					<select name="movieId" class="list-group ">
						<option selected="selected" th:value="null">--Vui lòng chọn phim---</option>
						<option th:each="movie : ${movielist}"
						th:value="${movie.movieId}"
						th:text="${movie.movieName}"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN NGÀY</h4>
					</div>
					<select name = "showtimeId" class="list-group ">
						<option selected="selected" th:value="null">--Vui lòng chọn lịch chiếu---</option>
						<option th:each="showtime : ${showtimelist}"
						th:value="${showtime.showtimeId}"
						th:text="${#dates.format(showtime.date, 'dd/MM/yyyy')} + '  ' + ${#dates.format(showtime.startTime, 'HH:mm')}"></option>
					</select>
				</div>

			</div>
		</div>

	</div>

	
</body>

</html>