<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Information</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/home/css/styles.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/home/fontawesome-free-5.5.0-web/css/all.css}" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Arima+Madurai|Pattaya}" rel="stylesheet" />
</head>

<body>
   <!-- Include MenuFrom -->
		<th:block th:replace="fragments/Header"></th:block>
		
    <div class="container">
        <div class="map-example" th:each = "movie : ${movielist}">
            <div class="row" >
                <div class="col-lg-6">
                	<iframe th:src = "@{${movie.trailer}}" width="500" height="385" frameborder="0" style="border:0" allowfullscreen="true"></iframe>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.990871680802!2d108.2375364!3d16.0526301!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ce2be163002eaac!2zS3VyYW1hIENpbmVtYSBDYWZlIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1555423984657!5m2!1svi!2s" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                </div>
                <div class="col-lg-6">
                    <div class="heading">
                        <h3 style="line-height: 1.66; margin: 0; padding: 0; font-weight: bold; color: #ff8000; font-family: 'Pattaya', sans-serif;font-size: 30px; " th:text = "${movie.movieName}"></h3>
                    </div>
                    <div class="info">
                    	<table style="width: 100%">
                      		<tbody>
                      			<tr>
                      				<th>Ngày Khởi Chiếu </th>
                      				<td th:text = "${#dates.format(movie.startDate, 'dd/MM/yyyy')}"></td>
                      			</tr>
                      			<tr>
                      				<th>Thể Loại </th>
                      				<td th:text = "${movie.category.categoryName}"></td>
                      			</tr>
                      			<tr>
                      				<th>Quốc Gia </th>
                      				<td th:text = "${movie.country.countryName}"></td>
                      			</tr>
                      			<tr>
                      				<th>Đạo Diễn </th>
                      				<td th:text = "${movie.director}"></td>
                      			</tr>
                      			<tr>
                      				<th>Diễn Viên </th>
                      				<td th:text = "${movie.actor}"></td>
                      			</tr>
                      			<tr>
                      				<th>Thời Lượng </th>
                      				<td th:text = "${movie.time} + ' phút'"></td>
                      			</tr>
                      		</tbody>
                       	</table>
                       	<div class = "button">
                       		<div class="btn btn-success" style="margin-left: 10%;">
                       			<a style = "color: white" th:href="@{/he-thong/danh-sach-cac-rap}"> Chi Tiết</a> 
							</div>
							<div class="btn btn-success" style="margin-left: 10%;color:#ff8000;">
                       			<a style = "color: white" th:href="@{/he-thong/danh-sach-cac-rap}">Đặt Vé</a>
							</div>
                       	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 py-2 "
		style="border-top: 1px solid lavender">
		<p class="text-center text-muted ">
			<!-- <img src="image/galaxy-logo-footer.png " alt="Galaxy Cinema " style="width:50px "> -->
			PHÙNG THỊ MỸ NHUNG-15CNTT1
		</p>
	</div>
    </footer>
    <script type="text/javascript" th:src="@{https://maps.google.com/maps/api/js?key=YOUR_API_KEY}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js}"></script>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
    
</body>

</html>