<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Danh sách phim</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
<link rel="stylesheet" th:href="@{/home/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/home/fontawesome-free-5.5.0-web/css/all.css}" />
<link
	th:href="@{https://fonts.googleapis.com/css?family=Arima+Madurai|Pattaya}"
	rel="stylesheet" />
<style>
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

h1 {
	line-height: 1.0;
	text-align: center;
	font-weight: bold;
	color: #222;
	font-family: 'Pattaya', sans-serif;
	font-size: 25px;
	margin-top: 100px:
}
</style>
</head>

<body>
	<!-- Include Header -->
	<th:block th:replace="fragments/Header"></th:block>

	<div class="container">
		<h1 style = "margin-top: 100px">CHƯA CÓ THÔNG TIN CHO MỤC NÀY. DỮ LIỆU SẼ ĐƯỢC BỔ SUNG SAU.</h1>
	</div>

	<div id="footer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 py-2 "
			style="border-top: 1px solid lavender">
			<p class="text-center text-muted ">
				<!-- <img src="image/galaxy-logo-footer.png " alt="Galaxy Cinema " style="width:50px "> -->
				PHÙNG THỊ MỸ NHUNG-15CNTT1
			</p>

		</div>

	</div>

	<script
		th:src="@{https://maps.google.com/maps/api/js?key=YOUR_API_KEY}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js}"></script>
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
	<script
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/script.js}"></script>

</body>

</html>