<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Trang Chủ</title>
<link rel="stylesheet" th:href="@{/home/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" />

<link rel="stylesheet"
	th:href="@{/home/fontawesome-free-5.5.0-web/css/all.css}" />
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<style>
a {
	font-weight: inherit;
	color: black;
	text-decoration: none;
}

a:hover {
	color: orangered;
	text-decoration: none;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
</style>
</head>

<body>
	<!-- Include Header -->
	<th:block th:replace="fragments/Header"></th:block>

	<div id="content" class="container ">
		<div class="row" style="border-bottom:2px solid lavender ">
            <div class="nav mt-3">
                <ul>
                    <a class="" href="#book-cinema " aria-expanded="true " data-toggle="collapse">THEO RẠP</a>

                </ul>
            </div>
        </div>
		<form th:action = "@{/chi-tiet-lich-chieu}" method="get" id="book-cinema" class="collapse row mt-2 ">
			<div class="col-md-4 ">
				<div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN RẠP</h4>
					</div>
					<select name="cinemaId" class="list-group ">
						<option selected="selected" th:value="null">--Vui lòng chọn rạp---</option>
						<option th:each="cinema : ${cinemalist}"
						th:value="${cinema.cinemaId}"
						th:text="${cinema.cinemaName}"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN PHIM</h4>
					</div>
					<select name="movieId" class="list-group ">
						<option selected="selected" th:value="null">--Vui lòng chọn phim--</option>
						<option th:each="movie : ${movielist}"
						th:value="${movie.movieId}"
						th:text="${movie.movieName}"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 ">
				<!-- <div class="panel panel-default ">
					<div class="panel-heading ">
						<h4 class="panel-title ">CHỌN NGÀY</h4>
					</div>
					<select th:field="*{showtime}" class="list-group ">
						<option selected="selected" th:value="null">Vui lòng chọn lịch chiếu</option>
						<option th:each="showtime : ${showtimelist}"
						th:value="${showtime.showtimeId}"
						th:text="${#dates.format(showtime.date, 'dd/MM/yyyy')} + '  ' + ${#dates.format(showtime.startTime, 'HH:mm')}"></option>
					</select>
				</div> -->
				<button type="submit" class="btn btn-primary">Xem Lịch Chiếu</button>
			</div>
			</form>
		</div>

	

	
</body>

</html>