<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Đăng Ký</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/form/fonts/material-icon/css/material-design-iconic-font.min.css}" />

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/form/css/style.css}" />
    
    <link th:href="@{https://fonts.googleapis.com/css?family=Arima+Madurai|Pattaya}" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Đăng ký</h2>
                        <form th:action = "@{/dang-ky}" th:object = "${user}" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" th:field = "*{userName}" placeholder="Tên đăng nhập"/>
                                <em th:if = "${#fields.hasErrors('userName')}" th:errors = "*{userName}"></em>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" th:field = "*{email}" placeholder="Email"/>
                                <em th:if = "${#fields.hasErrors('email')}" th:errors = "*{email}"></em>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" th:field = "*{password}" placeholder="Mật khẩu"/>
                                <em th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}"></em>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Nhập lại mật khẩu"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" name="phone" id="phone" th:field = "*{phone}" placeholder="Số điện thoại"/>
                                <em th:if = "${#fields.hasErrors('phone')}" th:errors = "*{phone}"></em>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-calendar"></i></label>
                                <input type="date" name="birthday" id="birthday" th:field = "*{birthday}"/>
                                <em th:if = "${#fields.hasErrors('birthday')}" th:errors = "*{birthday}"></em>
                            </div>
                            <div class="form-group" 
                            style="border: none;display: flex;flex-direction: row;justify-content: flex-start;
							break-before: always;margin: 0 0 3em 0; margin-bottom: 25px; border-bottom: 1px solid #999;">
							<label for="re-pass">
							<i class="zmdi zmdi-male-female"></i></label>
							<input type="radio" name="gender" id="gender"
								th:text = "Nam" th:value= "Nam" th:field = "*{gender}"/>
							<input type="radio" name="gender" id="gender"
								th:text = "Nữ" th:value= "Nữ" th:field = "*{gender}"/>
						</div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-accounts-alt"></i></label>
                                <input type="text" name="identityCard" id="identityCard" th:field = "*{identityCard}" placeholder="Chứng minh nhân dân"/>
                                <em th:if = "${#fields.hasErrors('identityCard')}" th:errors = "*{identityCard}"></em>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-home"></i></label>
                                <input type="text" name="address" id="address" th:field = "*{address}" placeholder="Địa chỉ"/>
                                <em th:if = "${#fields.hasErrors('address')}" th:errors = "*{address}"></em>
                            </div>
                           <!--  <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-label"></i></label>
                                <input type="hidden" name="re_pass" id="re_pass" th:field = "*{active}" placeholder="Trạng thái"/>
                            </div>  -->
                            <!-- <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-label"></i></label>
                                <input type="hidden" name="roles" id="roles" th:field = "*{roles}" th:value = "USER"/>
                            </div> -->
                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng ký"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{/form/images/signup-image.jpg}" alt="sing up image" /></figure>
                        <a href="/login" class="signup-image-link">Bạn đã là thành viên</a>
                    </div>
                </div>
            </div>
    </div> 

    <!-- JS -->
    <script th:src="@{/form/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/form/js/main.js}"></script>
</body>
</html>