<!DOCTYPE html>
<html  xmnlns:th="http://www.thymeleaf.org">
<head>
    <title>Lựa Chọn Ghế</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Movie Seat Selection a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="text/javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" th:href="@{/view/css/style.css}" type="text/css" media="all" />
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i}" rel="stylesheet" />
    <!-- //fonts -->
</head>

<body>
	<!-- Include MenuFrom -->
		<th:block th:replace="fragments/Header"></th:block>
    <h1>Lựa chọn ghế</h1>
    <div class="container">
	<form th:object = "${ticket}">
        <div class="w3ls-reg">
            <!-- input fields -->
            
            <div class="inputForm">
                <h2>Chọn số ghế</h2>
                <div class="mr_agilemain">
                    <div class="agileits-left">
                        <label>Tên
                            <span>*</span>
                        </label>
                        <input type="text" id="userName" th:field = "*{user}" th:value = {${user.userId}} th:text = "{${user.userName}"/>
                    </div>
                    <div class="agileits-right">
                        <label> Số lượng ghế
                            <span>*</span>
                        </label>
                        <input th:field = "*{countTicket}" type="number" id="numSeats" required="required" min="1" th:field = />
                    </div>
                </div>
                <button onclick="takeData()">Start Selecting</button>
            </div>
            <!-- //input fields -->
            <!-- seat availabilty list -->
            <ul class="seat_w3ls">
                <li class="smallBox greenBox">Đang chọn</li>

                <li class="smallBox redBox">Đã đặt</li>

                <li class="smallBox emptyBox">Chưa đặt</li>
            </ul>
            <!-- seat availabilty list -->
            <!-- seat layout -->
            <div class="seatStructure txt-center" id="seatStructure" style="overflow-x:auto;">
                 <table id="seatsBlock">
                    <p id="notification"></p>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                    <th:block th:with = "length=${#lists.size(seats) / 10}" >
                    	<th:block th:each = "i: ${#numbers.sequence(0, length-1)}">
                    			<tr>
                    				<td th:text = "${alphabet[i]}"></td>
                    				<td th:each = "j: ${#numbers.sequence(0, 10)}">
                    					<th:block th:if = "${j} eq 5">
                    						<input type="hidden" class="seats"/>
                    					</th:block>
                    					<th:block th:if = "${j} eq 0">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 1">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+1].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 2">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+2].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 3">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+3].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 4">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+4].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 6">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+5].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 7">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+6].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 8">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+7].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 9">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+8].seatName}" />
                    					</th:block>
                    					<th:block th:if = "${j} eq 10">
                    						<input type="checkbox" class="seats" th:value="${seats[i*10+9].seatName}" />
                    					</th:block>
                    				</td>
                    			</tr>
						</th:block>
                    </th:block>
                    
                    	<!-- <th:block th:with = "length=${#lists.size(seats) / 10}" th:each = "i: ${seats}">
                    			<tr>
                    				<td th:text = "${alphabet[i - 1]}"></td>
                    				<td th:each = "i: ${#numbers.sequence(1, 11)}">
                    					<th:block th:if = "${i} eq 6">
                    						<input type="hidden" class="seats"/>
                    					</th:block>
                    					<th:block th:unless = "${i} eq 0 OR ${i} eq 6">
                    						<input type="checkbox" class="seats" th:value="${seats[i].seatName}" />
                    					</th:block>
                    				</td>
                    			</tr>
						</th:block -->
                
                    
                </table> 

                <div class="screen">
                    <h2 class="wthree">Screen this way</h2>
                </div>
                <button onclick="updateTextArea()">Confirm Selection</button>
            </div>
            <!-- //seat layout -->
            <!-- details after booking displayed here -->
            <div class="displayerBoxes txt-center" id = "displayerBoxes" style="overflow-x:auto;">
                <table class="display-table w3ls-table" width="100%">
                    <tr>
                        <th>Name</th>
                        <th>Number of Seats</th>
                        <th>Seats</th>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="nameDisplay"></textarea>
                        </td>
                        <td>
                            <textarea id="numberDisplay"></textarea>
                        </td>
                        <td>
                            <textarea id="seatsDisplay"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- //details after booking displayed here -->
        </div>
        </form>
    </div>
    <div class="copy-wthree">
        <p class="text-center text-muted ">
			<!-- <img src="image/galaxy-logo-footer.png " alt="Galaxy Cinema " style="width:50px "> -->
			PHÙNG THỊ MỸ NHUNG-15CNTT1
		</p>
    </div>
    <!-- js -->
    <script th:src="@{/view/js/jquery-2.2.3.min.js}"></script>
    <!-- //js -->
    <!-- script for seat selection -->
    <script>
    window.onload = function() {
    	onLoaderFunc();
	} 
    
        function onLoaderFunc() {
        	$(".seats").prop("disabled", true);
         	$("#nameDisplay").prop("disabled", true);
         	$("#numberDisplay").prop("disabled", true);
         	$("#seatsDisplay").prop("disabled", true);
        }

        function takeData() {
            if (($("#userName").val().length == 0) || ($("#numSeats").val().length == 0)) {
                alert("Please Enter your Name and Number of Seats");
            } 
            else {
            	$("#userName").prop("disabled", true);
            	$("#numSeats").prop("disabled", true);
                $(".seats").prop("disabled", false);
                document.getElementById("notification").innerHTML =
                   "Please Select your Seats NOW!";
            }
        }


        function updateTextArea() {

            if ($("input:checked").length == ($("#numSeats").val())) {
            	$(".seats").prop("disabled", true);;

                var allNameVals = [];
                var allNumberVals = [];
                var allSeatsVals = [];

                //Storing in Array
                allNameVals.push($("#userName").val());
                allNumberVals.push($("#numSeats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });

                //Displaying 
                $('#nameDisplay').val(allNameVals);
                $('#numberDisplay').val(allNumberVals);
                $('#seatsDisplay').val(allSeatsVals);
            } else {
                alert("Please select " + ($("#numSeats").val()) + " seats")
            }
        }


        function myFunction() {
            alert($("input:checked").length);
        }

        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#numSeats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });
    </script>
    <!-- //script for seat selection -->

</body>

</html>
